<h1>All Books</h1>
<%= link_to "Add a Book", new_book_path %>
<div class="controller">
  <% @books.each do |book| %>
  <h2><%= book.title %></h2>
  <p><%= book.description %></p>
  <%= link_to "Edit Book", edit_book_path(book)  %>
  <% end %>
</div>
